$main-color: #f3ab9b;
$inputs: #eeecec;
$disabled: #c1c1c1;
$cancel: rgb(234 0 0);
$cancel-80: rgb(234 0 0 / 80%);
$black-text-70: rgb(0 0 0 / 70%);
$black-text-50: rgb(0 0 0 / 50%);
$black-text-40: rgb(0 0 0 / 40%);
$white-background: #ffffff;
$red-border: rgba(243 171 155 / 50%);
